<% layout ('layout/boilerPlate') %>
<div class="row mt-5">
    <div class="coloum-6 mt-15"><div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!!!</h4>
        <p>ohhho boy <%= err.message %></p>
        <hr>
        <p class="mb-0"><%= err.stack %></p>
      </div></div>
</div>
